<%= form_for @item do |f| %>
    <% if @item.errors.any? %>
    
      <div class="error message">
          <h4><%= pluralize(item.errors.count, "error") %>.</h4>
          <ul>
          <% @item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
       </ul>                    
      </div>
    <% end %>
    <div class="form-group">
        <%= f.label :name  %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter to do" %>
    </div>
    <div class="form-group">
        <%=f.submit "Save", class: 'btn btn-success' %>
    </div>
<% end %>